* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-style: normal;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1460px;
}

button {
    background-color: transparent;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #0D2228;
}

/* header */

.header {
    background-color: rgba(13, 34, 40, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 73%;
}

.header__link {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.header__link:hover {
    color: #D1FF5D;
}

.header__separator::after {
    content: "|";
    color: #D1FF5D;
    position: absolute;
    right: -25px;
}

.header__button {
    display: block;
    height: 50px;
    width: 208px;
    border: 2.04px solid #D1FF5D;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.header__button:hover {
    background-color: #D1FF5D;
    color: #000000;
}

/* main */

.main {
    background: url(./images/main__background-image.png);
    background-size: cover;
    border-bottom: 3px solid #FFFFFF;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 206px 0 165px;
    font-family: 'Inter';
}

.main__title {
    font-weight: 700;
    font-size: 170px;
    line-height: 206px;
    background: linear-gradient(180deg, #FFFFFF 0%, #D1FF5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__subline {
    width: 400px;
    margin-bottom: 41px;
    background-color: #D1FF5D;
}

.main__subtitle {
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 782px;
    text-align: center;
    margin-bottom: 85px;
}

.main__advantages {
    display: flex;
    justify-content: space-between;
    width: 754px;
}

.main__advantage {
    width: 29%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4.38304px);
    border-radius: 6.53059px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 0 8px;
}

.main__icon {
    width: 94px;
    height: 76px
}

.main__icon img {
    width: 100%;
    height: 100%;
}

.main__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

/* about */
.about {
    border-top: 3px solid #FFFFFF;
}

.about__wrapper {
    padding: 97px 20px 0;
    display: flex;
    position: relative;
}

.about__wrapper::before {
    content: "About us";
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 223.663px;
    line-height: 229px;
    text-transform: uppercase;
    color: #0D2228;
    background: linear-gradient(180.05deg, rgba(255, 255, 255, 0.2) 0.05%, rgba(255, 255, 255, 0) 182.77%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1.57px transparent;
    position: absolute;
    top: -147px;
    left: -185px;
    z-index: -100;
    max-width: 967px;
}

.about__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 130px;
    line-height: 118px;
    text-transform: uppercase;
    color: #D1FF5D;
    max-width: 496px;
    margin-bottom: 67px;
}

.about__info {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    max-width: 66%;
}

.about__desc {
    max-width: 81%;
}

.about__line {
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 0 20px;
}

.about__images {
    padding-top: 85px;
    /* margin-left: 174px; */
    position: relative;
    /* позже снова попробовать связать с маленькой картинкой*/
}

.about__image {
    width: 531px;
    height: 365px;
    background: rgba(255, 255, 255, 0.17);
    border: 1.13179px solid #FFFFFF;
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
    padding: 14px;

}

.about__image-small {
    width: 481px;
    height: 329px;
}

.about__shadow {
    width: 621px;
    height: 435px;
    position: absolute;
    top: 70px;
    left: -70px;
    z-index: -100;
    transform: rotate(12deg) translate(0px, 0px);
    display: flex;
    justify-content: center;
    align-items: end;
}

.about__box-small {
    width: 400px;
    height: 250px;
    border-radius: 50px;
    box-shadow: 0px 0px 312px 100px rgba(85, 201, 13, 0.4);
    z-index: -100;
}

.about__image-big {
    position: absolute;
    bottom: 63px;
    right: 45px;
    z-index: 1;
}

.about__image img {
    width: 100%;
    height: 100%;
}

/* process */

.process__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 81px 162px 130px 0;
    border-bottom: 5px solid #FFFFFF26;

}

.process__abstract {
    width: 611px;
    height: 641px;
    background-image: url(./images/process__abstract.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.process__abstract::before {
    content: "";
    background-image: url(./images/Ellipse.png);
    position: absolute;
    z-index: -100;
    width: 411.05px;
    height: 610px;
    background-size: contain;
    transform: rotate(16.35deg);
    filter: blur(30px);
}

.process__name {
    width: 611px;
    height: 242px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
    padding: 31px 29px 31px 173px;
}

.process__stages {
    display: grid;
    grid-template-columns: 69px 90%;
    grid-template-rows: repeat(4, 105px);
    grid-column-gap: 31px;
    grid-row-gap: 77px;
    padding: 55px 0 0;
    margin-left: 79px;
}

.process__icon {
    width: 69px;
    height: 69px;
    background: linear-gradient(180deg, #D1FF5D 0%, #49FFF4 100%);
    backdrop-filter: blur(3.0032px);
    border-radius: 68.5185px;
    text-align: center;
    box-shadow:
        -19px -5px 0px 0px rgba(209, 255, 93, 0.25),
        inset 0px 0px 0px 0px rgba(73, 255, 244, 0.11);
}

.process__name {
    width: 611px;
    height: 242px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10.1395px);
    border-radius: 10px;
    padding: 31px 29px 31px 173px;
}

.process__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;

}

.process__caption {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}

.process__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.process__number {
    display: inline-block;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 35.6296px;
    line-height: 69px;
    color: #05664F;
}

.arrow::after {
    content: "";
    background-image: url(./images/Regular.png);
    width: 69px;
    height: 73px;
    position: absolute;
    bottom: -84px;
    left: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* why */

.why__wrapper {
    position: relative;
    padding: 107px 0 178px;
}

.why__wrapper::before {
    content: "Why us?";
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 160px;
    text-align: right;
    text-transform: uppercase;
    color: #0D2228;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1.57px transparent;
    position: absolute;
    top: 10px;
    left: -170px;
    z-index: -100;
    max-width: 895px;
}

.why__cards {
    display: flex;
    justify-content: space-between;
    margin: 127px 0 0;
}

.why__content {
    width: 419px;
    height: 505px;
    padding: 28px 21px 35px 29px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 29px;
}

.why__icon {
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.why__img {
    width: 100%;
    height: 100%;
}

.why__title {
    max-width: 100%;
    margin-bottom: 127px;
}

.why__card {
    width: 30%;
    height: 505px;
    padding: 28px 21px 35px 29px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.why__card::before {
    content: "";
    width: 100%;
    height: 430px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10.1395px);
    border-radius: 15.1075px;
    position: absolute;
    bottom: -26px;
    left: -29px;
    z-index: -1;
}

.why__caption {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

.why__desc {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* countries */
.countries {
    background: linear-gradient(180deg, #FFFFFF 0%, #DFFFF7 100%);
}

.countries__wrapper {
    padding: 64px 0 0;
    position: relative;
}

.countries__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 118px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #05664F;
}

.countries__map {
    z-index: 1;
    height: 750px;

}

.countries__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.countries__list {
    Width: 711px;
    Height: 207px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px -16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    padding: 33px 0 32px;

    position: absolute;
    bottom: 270px;
    left: -100px;

}

.countries__name {
    color: #05664F;
    list-style: none;
}

.countries__name:not(:last-child) {
    margin-bottom: 10px;
}

.countries__tag {
    height: 40px;
    background-color: #D1FF5D;
    border-radius: 16px;

    position: absolute;
    bottom: 510px;
    left: 155px;

    padding: 6px 10px;
}

.europe {
    top: 28%;
    left: 47%;

}

.africa {
    top: 48%;
    left: 45%;
}

.asia {
    top: 44%;
    left: 76%;
}

.countries__tag::after {
    content: "";
    background-image: url(./images/Arrow.png);
    width: 26px;
    height: 18px;

    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
}

.countries__america {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #05664F;
}

/* partners */
.partners__wrapper {
    width: 1225px;
    margin: 0 auto;

    height: 460px;
    border-radius: 10px;
    background: linear-gradient(98.14deg, rgba(255, 255, 255, 0.31) 5.19%, rgba(252, 252, 252, 0.21) 46.36%, rgba(248, 248, 248, 0.15) 93.43%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partners__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 86px;
}

.partners__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    text-transform: uppercase;
}

.partners__line {
    width: 859px;
}

.partners__container {
    padding: 113px 20px 148px;
    background: radial-gradient(100.28% 100.28% at 50% 50%, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: relative;
    overflow: hidden;
}

.partners__shadow_top {
    position: absolute;
    top: -10%;
    left: -10%;
    filter: blur(195.453px);
    transform: rotate(17.16deg);
    width: 520.09px;
    height: 385.76px;

}

.partner__shadow_top img {
    width: 100%;
    height: 100%;
}

.partners__shadow_bot {
    position: absolute;
    filter: blur(195.453px);
    transform: rotate(17.16deg);
    width: 764.15px;
    height: 459.01px;
    right: 10%;
    bottom: 0%;
}

.partners__shadow_bot img {
    width: 100%;
    height: 100%;
}

.partner__abstract_top {
    width: 772.66px;
    height: 466.49px;
    position: absolute;
    top: -44%;
    right: -12%;
    z-index: -1;
}

.partner__abstract_top img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.partner__abstract_bot {
    width: 770.49px;
    height: 462.19px;
    position: absolute;
    z-index: -1;
    bottom: -3%;
    left: 0%;
}

/* footer */
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 91px 0 135px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.footer__content-left {
    display: flex;
    width: 541px;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.footer__link:not(:last-child) {
    margin-bottom: 20px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
    width: 684px;
}

.footer__icons {
    display: flex;
}

.footer__content-right {
    width: 54%;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    width: 234px;
    margin-top: 27px;

}

.footer__phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
}

.footer__mail {
    display: flex;
    align-items: center;
    width: 305px;
    justify-content: space-between;
    margin-top: 27px;


}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 121px;
    color: #D1FF5D;
}

.footer__icon {
    width: 58px;
    height: 58px;
}

.footer__icon img {
    width: 100%;
    height: 100%;
}

.footer__icon-mail {
    width: 49px;
    height: 49px;
}

.footer__icon-mail img {
    width: 100%;
    height: 100%;
}

.footer__text {
    line-height: 59px;
}

.footer__line {
    width: 684px;
}